@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: #676869;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

:root {
  --carouselOutsideWidth: 200px;
  --carouselOutsideWidthTn: 300px;
  --carouselOutsideWidthMd: 620px;
  --carouselOutsideWidthXl: 1100px;

  --carouselItemWidth: 200px;
  --carouselItemWidthTn: 300px;
  --carouselItemWidthMd: 300px;
  --carouselItemWidthXl: 345px;

  --carouselMarginLeftMd: calc(var(--carouselOutsideWidthMd) - var(--carouselItemWidthMd) * 2);
  --carouselMarginLeftXl: calc((var(--carouselOutsideWidthXl) - var(--carouselItemWidthXl) * 3) / 2);
}
